{
  "presets": ["es2015"],
  "plugins": [
    [
      "module-alias", [
        { "src": "./src/bots", "expose": "bots" },
        { "src": "./src", "expose": "leftovers-again" },
        { "src": "./lib", "expose": "leftovers-again/lib" }
      ]
    ]
  ]
}
