{
  "presets": ["es2015"],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./lib"],
        "alias": {
          "leftovers-again": "./lib",
          "leftovers-again/lib": "./lib"
        }
      }
    ]
  ]
}
