[submodule "bots/la-fitness"]
	path = bots/la-fitness
	url = https://github.com/dramamine/la-fitness.git
[submodule "lib/Pokemon-Showdown"]
  path = lib/Pokemon-Showdown
  url = https://github.com/dramamine/Pokemon-Showdown.git
[submodule "lib/Pokemon-Showdown-Client"]
  path = lib/Pokemon-Showdown-Client
  url = https://github.com/Zarel/Pokemon-Showdown-Client.git
