node_modules/
npm-debug.log
replays/
README-*.md
README-clienthax.js
scripts/clienthax.js
error.log
log/
src/bots/randombattle/predictor/matchups.json
coverage/
docs/
leftovers-again.sublime-workspace
leftovers-again.sublime-project
bots/predictor/
tmp/
results/results.csv
private/
yarn.lock
notes/
Pokemon-Showdown/
